/* selector{
    propiedad: valor;
    propiedad: valor;
}
*/

h2{ /* selector global */
    color: red;
    font-size: 45px;
    background-color: aquamarine;
    text-align: center;
}

/* selector de clase */

.soloyo {text-align: right;
}

/* selector por id */

#miparrafo{margin-top: 80px;
}


h1{ 
    /* borde */
    border-top: solid 5px black;
    border-right: dashed 8px blueviolet;
    border-bottom: solid 10px gray;
    border-left: dotted 12px yellow;
    /* relleno */
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 50px;
    padding-bottom: 25px;
    /* margen separacion entre elemento html*/
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 80px;
    margin-bottom: 150px;
}

.centrar{text-align: center;
}

.otroparrafo{
    font-size: 25px;
}

.micolor{
    color: brown;
}

ul{
    text-align: center; 
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 15px;
    padding: 25px;
    border: 1px solid black;
}

a{
    text-decoration: none;
    background: rgb(215, 147, 147);
}
